.filter-sort-container {
  display: flex;
  flex-direction: column;
  color: white;
  min-height: 15rem;
}
section.criteria {
  margin: 0.5rem 0;
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
section.criteria > span {
  margin-right: 0.2rem;
  font-size: 1.25rem;
}
section.criteria > div[data-tooltipped] {
  height: 20px;
}
section.criteria .info {
  cursor: pointer;
  transition: all 0.2s ease;
}
section.criteria .info:hover {
  color: var(--beige-yellow);
}
section.criteria > input,
section.criteria > select {
  outline: none;
  border: none;
  font-family: "Poppins";
  border-radius: 2px;
  padding: 0.25rem 0.5rem;
  font-size: 0.9rem;
}
.materials-checkboxes {
  display: flex;
  flex-direction: column;
  max-height: 10rem;
  overflow-y: scroll;
  padding-right: 1rem;
}
section.filter-modal-btns {
  display: flex;
  gap: 2rem;
  justify-content: center;
  margin-top: 2rem;
}
.filter-sort-container button {
  width: 40%;
  transition: all 0.2s ease;
}
.filter-sort-container button:hover {
  opacity: 80%;
}
