.card-container {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  column-gap: 0.5rem;
  width: 13rem;
  max-height: 17rem;
  border: 2px solid var(--beige-yellow);
  border-radius: 6px;
  overflow: hidden;
  transition: all 0.2s ease;
  height: 100%;
}
.card-container:hover {
  transform: scale(1.02);
}
.card-image-container {
  overflow: hidden;
  background-color: var(--beige-yellow);
  flex: 1;
  display: flex;
  align-items: center;
}
.card-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.card-details {
  padding: 0.5rem;
  font-size: 0.85rem;
}
.yarn-name {
  font-size: 1.1rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.card-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.yarn-rating {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  color: var(--beige-yellow);
}
.yarn-rating > span {
  padding-top: 3px;
}
@media only screen and (max-width: 720px) {
  .card-container {
    width: 11rem;
    max-height: 15rem;
  }
}
@media only screen and (max-width: 450px) {
  .card-container {
    width: 100%;
    max-height: 20rem;
  }
  .yarn-name {
    font-size: 1rem;
  }
}
