#footer {
  background-color: var(--dark-gray);
  padding: 3rem 4rem 5rem 4rem;
  display: flex;
  justify-content: space-between;
  color: white;
  gap: 2rem;
  font-weight: 300;
  position: relative;
}
.footer-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}
.footer-right {
  display: flex;
  flex-wrap: wrap;
  column-gap: 4rem;
  row-gap: 1rem;
  justify-content: end;
  height: fit-content;
}
.footer-right > a {
  color: white;
  text-decoration: none;
  height: fit-content;
  width: fit-content;
  transition: all 0.2s ease;
}
.footer-right > a:hover {
  color: var(--beige-yellow);
  text-decoration: underline;
}
.footer-cat {
  position: absolute;
  bottom: 0.5rem;
  right: 1rem;
}
@media only screen and (max-width: 720px) {
  #footer {
    padding: 3rem 2rem 7rem 2rem;
  }
}
